/* Ensure the navbar container is full width */
.navbar {
    width: 100%;
}

/* Flex container for navbar items */
.navbar .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Flex container for left side of navbar */
.navbar .d-flex > div {
    display: flex;
    align-items: center;
}

/* Adjust styling for the navbar brand */
.navbar-brand {
    font-size: 1.5rem; /* Adjust the size as needed */
    font-weight: bold; /* Make the text bold */
    margin-right: 1rem; /* Space between the brand and the links */
}

/* Ensure navbar links are aligned and spaced */
.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

/* Styling for navbar links */
.nav-link {
    font-size: 1rem; /* Adjust the font size if needed */
    margin-right: 1rem; /* Space between the links */
}

/* Ensure search form is aligned */
.form-control {
    max-width: 300px; /* Adjust width of search input if needed */
}

/* Stili per la lista di task */
.list-group-item {
    position: relative;
    padding: 1rem;
    border-radius: .375rem;
    margin-bottom: .5rem;
}

/* Cerchio dello stato */
.status-btn {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Dimensioni del cerchio ridotte */
    height: 30px;
    padding: 0;
    cursor: pointer;
}

.status-btn.completed .status-circle {
    stroke: green;
}

.status-btn.not-completed .status-circle {
    stroke: lightgray;
}

.status-circle path {
    display: none;
}

.status-btn.completed .status-circle path {
    display: block;
    stroke: green;
    background: green;
}

.status-btn:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}
