{% extends "base.html" %}

{% block title %}Tasks List{% endblock %}

{% block header %}Tasks List{% endblock %}

{% block content %}
    <div class="row">
        {% for task in tasks %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.date }}</h6>
                    <p class="card-text">{{ task.description | safe | linebreaks | truncatewords:10 }}</p>
                    <p>Status:
                        {% if task.complete %}
                            <span class="badge bg-success">Complete</span>
                        {% else %}
                            <span class="badge bg-danger">Not Complete</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
